@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  background-color: aliceblue;
}

.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: black black;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 70px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: black;
  border: none; 
}
